
.columns {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.column {

}

/* COLORS */

.orange {
    color: #ff7200 !important;
}

.red {
    color: #d33682 !important;
}

.green {
    color: #3eaf7c !important;
}



/* HELPERS */

.scall-down {
    transform: scale(.7);
}

.signature {
    float: right;
    font-size: .8em;
}

.right {
    float: right;
    text-align: left;
}

.left {
    float: left;
    text-align: left;
}

.inline {
    font-family: 'Ubuntu Mono', monospace;
    color: #D33682;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #efefef;
    padding: 1px;
    /*background: */
}
